.button {
  border-radius: 200px;
  padding: 16px 60px;
  background-color: var(--color-backgroundButton);
  color: var(--color-buttonText);
  transition: background-color var(--animation);
}

.button:hover,
.button:focus {
  background-color: var(--color-hoverButton);
}
