.button {
  border-radius: 200px;
  padding: 16px 60px;
  background-color: var(--color-backgroundButton);
  color: var(--color-buttonText);

  font-weight: 500;

  line-height: 1.5;
  letter-spacing: -0.01em;
  transition: background-color var(--animation);
}

.button:hover,
.button:focus {
  background-color: var(--color-hoverButton);
}
