.detailsCamper {
  position: relative;
}

.camperName {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  margin-bottom: 8px;
  margin-top: 48px;
}

.metaCastom {
  margin-bottom: 16px;
}
.price {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.33333;
  margin-bottom: 28px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;

  margin-bottom: 28px;
}

.galleryItem {
  width: 292px;
  height: 312px;
  border-radius: 10px;
  overflow: hidden;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description {
  color: var(--color-textSecondary);
  margin-bottom: 60px;
  display: flex;
}
.buttonWrapper {
  display: flex;
  gap: 40px;
  width: 100%;
  position: relative;
}
.btnOutlet {
  background-color: inherit;
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  margin-bottom: 68px;
  position: relative;
}
.buttonWrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #dadde1;
  top: 46px;
  left: 0;
}

.active {
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  height: 5px;
  z-index: 99;
  background-color: #e44848;
}
