/* .container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 68px;
} */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 68px;
    max-width: 1440px;
  }
}
