.container {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 0 68px;
}

@media screen and (min-width: 767px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
