.container {
  padding: 44px 56px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}
.container h2 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
}
.container p {
  margin-bottom: 24px;
  color: #6c717b;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  background-color: var(--color-secondaryBackground);
  border-radius: 10px;
  padding: 18px;
  width: 100%;
  height: 60px;
}
.error {
  color: red;
}
.textarea {
  composes: input;
  height: 118px;
  resize: none;
  margin-bottom: 24px;
}
.btn {
  margin-left: auto;
  margin-right: auto;
}
