.icon {
  fill: none;
  stroke: #101828;
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 100px;
}
.featureItem {
  display: flex;
  font-weight: 500;
  border-radius: 100px;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;

  background-color: #e1e4e9;
}

.featuresList li:last-child {
  display: flex;
  align-self: flex-end;
}
