.box {
  margin-top: 50px;
  max-width: 1006px;
  margin-bottom: 30px;
  /* margin: 0 auto; */
}

.emptyMessage {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  align-items: center;
  gap: 10px;
  max-width: 500px;
  margin-bottom: 30px;
}
