.box {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 30px;
  /* margin: 0 auto; */
}

@media screen and (min-width: 768px) {
  .box {
    max-width: 1006px;
  }
}
.emptyMessage {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  align-items: center;
  gap: 10px;
  max-width: 500px;
  margin-bottom: 30px;
}
