.camperCard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--color-border);

  border-radius: 20px;
  padding: 24px;
  width: 100%;
  /* max-width: 100%; */
}

.camperCard > * {
  min-width: 0;
}
@media screen and (min-width: 768px) {
  .camperCard {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .camperCard {
    grid-template-columns: 292px 1fr;
  }
}

.imageWrapper {
  border-radius: 10px;
  height: 320px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name,
.price {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.33333;
}

.priceWrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.btn {
  padding: 16px 40px;
}
.bookButton {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 494px;
  color: var(--color-textSecondary);
  margin-bottom: 24px;
}
.categories {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  max-width: 412px;
  flex-wrap: wrap;
}
.categoriesItem {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 100px;
  padding: 12px 18px;
  background-color: var(--color-bachgroundItem);
  font-weight: 500;
}
.marginBottom {
  margin-bottom: 24px;
}

.iconFav {
  fill: var(--color-backgroundButton);
}
