@import "modern-normalize/modern-normalize.css";
@import "./styles/variables.css";
:root {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #ffffff; */
  /* background-color: black; */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-accent);
  line-height: 1.5;

  background: var(--color-mainBackground);
  min-height: 100vh;

  font-style: normal;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button,
input {
  cursor: pointer;
  font-family: inherit;
  outline: none;
  border: none;
}

button {
  border: none;
  /* font-size: inherit; */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* svg {
  display: block;
} */
