@import "modern-normalize/modern-normalize.css";
@import "./styles/variables.css";
:root {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-accent);
  line-height: 1.5;

  background: var(--color-mainBackground);
  min-height: 100vh;

  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  /* padding: 0; */
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button,
input {
  cursor: pointer;
  font-family: inherit;
  outline: none;
  border: none;
}

button {
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
  border: none;
}
