.catalogContainer {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 64px;
  margin-top: 48px;
}
.box {
  margin-bottom: 52px;
}

.boxList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  padding: 16px 32px;
  font-weight: 500;
  border: 1px solid var(--color-border);
  background-color: inherit;
  color: var(--color-accent);

  margin-top: 40px;

  border-radius: 200px;
  transition: border-color var(--animation);
}

.btn:hover {
  border-color: var(--color-hoverButton);
}
.error {
  color: red;
  font-size: 24px;
}
