/* Контейнер для інпуту */
.dateInput {
  width: 100%;
  height: 60px;
  padding: 18px;
  background-color: var(--color-secondaryBackground);
  border-radius: 10px;
  border: none;
  outline: none;
}
